/* General Styles */
* {
    font-family: 'mario_pixel',Arial, sans-serif;
    transition: all 0.6s linear;
}

/* html and body*/
html, body {
    background-color: black;
    background-image: url(../images/background.jpg);/*Background image from freepik.com*/
}


.home-title{
    align-self: center;
    color: #e60012;
    text-shadow: 2px 2px 2px white;
}
.vb-info{
    color: #e60012;
    text-shadow: 2px 2px 2px white;
    text-align: center;
}
  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav ul.active {
        display: flex;
    }
}
*{box-sizing:border-box}

/*Carousel container*/
.carousel-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/*Hide images by default*/
.carousel-slide{
    display: none;
}
.previous, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/*Number text */
.numbertext{
    color:#f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/*the dots*/
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: #e60012;
}
/*Animation*/
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{opacity: .4}
    to{opacity: .1}
}
.contact{
    display: flex;
    align-self: center;
    max-width: 75vw;
    max-height: auto;
    background-color: white;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 25px;
    padding:20px;
    
}
.social-media{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 3;
}